.root {
  position: relative;
  overflow: hidden;
  flex: 1;
}

.inside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.info {
  position: absolute;
  padding: 10px;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.svg {
  background: #ece8f2;
}
