@import "@blueprintjs/core/lib/scss/variables";

.nav {
  padding: 5px;
  border-right: 1px $light-gray1 solid;
  display: flex;
  flex-direction: column;
}

.sidebar {
  flex: none;
  display: flex;
  align-items: stretch;
}
