.header {
  display: flex;
  align-items: center;
}

.month {
  flex: 1;
  text-align: center;
  padding-right: 20px;
}

.plantDates {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
}

.dateTooltip {
  width: 220px;
}

.dateTooltipRow {
  display: flex;
  justify-content: space-between;
}

.notes {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:global(.bp3-table-container) {
  &:focus {
    outline: none;
  }
}
